.recomendation-card {
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.15);
    display: flex;
    padding: 15px;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 50%;
  }


  .card-rank-number {
    width: 10%;
    height: 100%;
    border-right: 2px solid black;
  }
  
  .card-graph {
    margin-left: 10%;
    width: 45%;
  }

  .card-extras {
    margin-left: 5%;
  }